{
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "rules": {
    "dot-notation": "off",
    "no-underscore-dangle": "off",
    "linebreak-style": "off",
    "class-methods-use-this": "off",
    "react/prop-types": [
      0
    ]
  },
  "env": {
    "browser": true
  }
}