.header__main-text-container {
    position: absolute;
    bottom: 60px;
    left: 20px;
}

@media screen and (max-width:600px) {
    .header__main-text-container {
        bottom: 223px;
    }
}

@media screen and (max-width:400px) {
    .header__main-text-container {
        bottom: 260px;
    }
}