@keyframes pulse_1 {
    from {
        opacity: 1;
        transform: scale(1.1, 1.1);
    }

    to {
        opacity: 0;
        transform: scale(1.2, 1.2);
    }
}

@keyframes pulse_2 {
    from {
        opacity: 1;
        transform: scale(1.1, 1.1);
    }

    to {
        opacity: 0;
        transform: scale(1.4, 1.4);
    }
}

@keyframes pulse_3 {
    from {
        opacity: 1;
        transform: scale(1.1, 1.1);
    }

    to {
        opacity: 0;
        transform: scale(1.6, 1.6);
    }
}