@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Monument-Grotesk.css);
@import url(./vendor/variables.css);
@import url(./blocks/root/root.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__title/header__title.css);
@import url(./blocks/header/__main-text/header__main-text.css);
@import url(./blocks/header/__span/_place_right/header__span_place_right.css);
@import url(./blocks/header/__main-text-container/header__main-text-container.css);

@import url(./blocks/main/main.css);
@import url(./blocks/main/__title/main__title.css);

@import url(./blocks/card/card.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__publication-info/card__publication-info.css);
@import url(./blocks/card/__publication-date/card__publication-date.css);

@import url(./blocks/rating/__container/rating__container.css);
@import url(./blocks/rating/__amount/rating__amount.css);
@import url(./blocks/rating/__logo/rating__logo.css);
@import url(./blocks/author/__container/author__container.css);
@import url(./blocks/author/__logo/author__logo.css);
@import url(./blocks/author/__text/author__text.css);

@import url(./blocks/refresh-button/refresh-button.css);

@import url(./blocks/scroll-button/scroll-button.css);
@import url(./blocks/scroll-button/__text/scroll-button__text.css);
@import url(./blocks/scroll-button/__logo/scroll-button__logo.css);
@import url(./blocks/scroll-button/__rings/scroll-button__rings.css);
@import url(./blocks/pulse/pulse.css);

.news-post__header {
    border-bottom: 2px solid #ff6600;
}

.news-post__title {
    margin: 50px 20px 0px 75px;
    max-width: 70%;
    font-size: 3.3vw;
}

.news-post__header-title {
    margin: 35px 0 15px 75px;
    max-width: 70%;
    text-decoration: none;
    color: black;  
}

.news-post__main-info {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.news-post__publication-date {
   
}

.news-post__logo {
    margin-right: 10px;
}

.news-post__text {
    margin-right: 10px;
}

.news-post__link {
    width:100%;
    padding: 0 0 20px 75px;
}

.news-post__additional-info {
    display: flex;
    margin-left: 75px;
    justify-content: flex-start;
    gap: 20px;
}

.news-post__comments-title {
    margin: 30px 0 30px 75px;
    font-size: 2.3vw;
}

.news-post__header-link{
    text-decoration: none;
}

.comments__container {
    width: 90%;
    height: fit-content;
}