.scroll-button {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    align-items: center;
    margin: auto 0 25px 0;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    border: 2px solid #ff6600;
    padding: 0;
}